<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<h2>Spring Boot Crud System -Quote Registation</h2>
<tr>
    <div align = "left" >
        <h3><a  th:href="@{'/new'}">Add new</a></h3>
    </div>

</tr>
<tr>

    <div class="col-sm-5" align = "center">
        <div class="panel-body" align = "center" >
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>
                        <a>Update</a>
                    </td>
                    <td>
                        <a>Delete</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</tr>
</tbody>
</table>
</div>
</body>
</html>